# Reclassify SQL files as PostgreSQL
*.sql linguist-language=PostgreSQL

# Vendored languages (Spike work included as well)

spike/* linguist-vendored
jquery-3.4.1-min.js linguist-vendored
node-modules/* linguist-vendored
materialize/* linguist-vendored

docs/* linguist-documentation
