# Reclassify SQL files as PostgreSQL
*.sql linguist-language=PostgreSQL

# Vendored languages (Spike work included as well)

spike/* linguist-vendored
node-modules/* linguist-vendored
lazysizes.min.js linguis-vendored

docs/* linguist-documentation
xp-docs/* linguist-documentation
