<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<div th:fragment="header" th:remove="tag">
    <!-- Change to minified CSS in production -->
    <link href="../static/semantic/dist/semantic.css" rel="stylesheet" th:href="@{/semantic/dist/semantic.css}"
          type="text/css"/>
    <script src="../static/vendor/jquery-3.4.1.js" th:href="@{/vendor/jquery.min.js}"></script>
    <script src="../static/semantic/dist/semantic.min.js" th:href="@{/semantic/dist/semantic.min.js}"></script>
</div>
</body>
</html>