<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <fragment th:replace="fragments/header :: header"></fragment>
    <title>Dyfi Wildlife Centre</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/customIndexStyle.css}" />
</head>
<body>

<fragment th:replace="fragments/primary_navbar :: primaryNavbar"></fragment>

<div class="col s12 m6" id="map">
</div>

<fragment th:replace="fragments/poi_card :: poiCard"></fragment>

<script th:src="@{/js/googlemaps.js}"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBORcn8smmSs49a79sVJoW5Zpk-p4HxfQg&callback=initMap"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>