<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <fragment th:replace="fragments/header :: header"></fragment>
    <title>Dyfi Wildlife Centre</title>
    <style>
        #map {
            height: calc(99vh - 56px);
            width: 100%;
        }

        .modal {
            max-height: 100%;
        }


        #scrollable {
            overflow: auto;
        }

    </style>
</head>
<body>

<fragment th:replace="fragments/primary_navbar :: primaryNavbar"></fragment>

<div class="col s12 m6" id="map">
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="container-fluid">
            <div class="card large z-depth-0">
                <div class="card-image">
                    <img src="osprey.jpeg"
                         alt="Sample 1">
                    <span class="card-title black-text">Dyfi Wildlife Centre</span>
                </div>
                <div class="card-content" id="scrollable">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum elit imperdiet lacus
                        fringilla, sit amet bibendum massa congue. Curabitur nisl risus, semper vitae orci quis, viverra
                        sagittis enim. Nam sem ex, semper at egestas eget, ullamcorper nec dolor. Donec sed vehicula
                        odio, at aliquam tellus. Aliquam vulputate ligula et ligula pretium viverra. Pellentesque vitae
                        tortor elit. Nulla viverra, ipsum ac tincidunt iaculis, risus ligula rhoncus tellus, ut accumsan
                        dui leo et erat. Vestibulum pellentesque tristique libero id mollis. Nullam sit amet blandit mi.
                        Mauris id purus pretium, vulputate magna vitae, gravida mi.

                        Ut mollis, quam non scelerisque ultricies, magna diam posuere nibh, mollis sagittis ex tellus eu
                        tellus. Maecenas placerat orci purus, ut commodo risus imperdiet at. Nunc venenatis velit nunc,
                        ut gravida nunc condimentum nec. Nam a dolor sit amet tellus pulvinar posuere sit amet et neque.
                        Donec ut magna ac nisi cursus placerat. Sed nisl erat, auctor sit amet fermentum non, vulputate
                        non nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et mauris nisi.
                        Sed gravida augue scelerisque dui varius placerat. Duis imperdiet sed tortor ornare lobortis.
                        Duis blandit turpis sem, ac condimentum lorem semper eget.

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ultrices eros ac mollis
                        tincidunt. Praesent et ullamcorper mauris. Ut varius et sem eget ultrices. Proin a vestibulum
                        mauris. Ut venenatis vehicula orci. Integer tortor risus, feugiat sed nisi sit amet, condimentum
                        dictum diam.</p>
                </div>
            </div>
        </div>
    </div>

</div>

<script th:inline="javascript">
    function initMap() {
        const dyfiWildlifeCentre = {lat: 52.568774, lng: -3.918031};
        const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: dyfiWildlifeCentre,
            mapTypeId: 'hybrid',
            disableDefaultUI: true
        });

        const marker = new google.maps.Marker({
            position: dyfiWildlifeCentre,
            map: map,
            title: 'Dyfi Wildlife Centre'
        });
        marker.addListener('click', function () {
            const element = document.getElementById('modal1');
            const instance = M.Modal.init(element, {dismissible: true});
            instance.open();
        });

        const springGeneratedMarker = new google.maps.Marker({
            position: {lat: [[${marker_test_lat}]], lng: [[${marker_test_long}]]},
            map: map,
            title: '[[${marker_test_name}]]'
        });


    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBORcn8smmSs49a79sVJoW5Zpk-p4HxfQg&callback=initMap"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>