<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <fragment th:replace="fragments/header :: header"></fragment>
    <title>Dyfi Wildlife Centre</title>
    <style>
        #map {
            height:calc(99vh - 56px);
            width: 100%;
        }
    </style>
</head>
<body>

<fragment th:replace="fragments/primary_navbar :: primaryNavbar"></fragment>

<div class="col s12 m6" id="map">
</div>
<script th:inline="javascript">
    function initMap() {
        const dyfiWildlifeCentre = {lat: 52.568774, lng: -3.918031};
        const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: dyfiWildlifeCentre,
            mapTypeId: 'hybrid',
            disableDefaultUI: true
        });
        // TODO: Is there a way to use fragments in this?
        const html = '<div class="row">\n' +
            '    <div class="col s12 m7">\n' +
            '        <div class="card">\n' +
            '            <div class="card-image">\n' +
            '                <img src="https://materializecss.com/images/sample-1.jpg"\n' +
            '                     alt="Sample 1">\n' +
            '                <span class="card-title">Card Title</span>\n' +
            '            </div>\n' +
            '            <div class="card-content">\n' +
            '                <p>I am a very simple card. I am good at containing small\n' +
            '                    bits of information. I am convenient because I require\n' +
            '                    little markup to use effectively.</p>\n' +
            '            </div>\n' +
            '        </div>\n' +
            '    </div>\n' +
            '</div>';

        let infoWindow = new google.maps.InfoWindow({
            content: html
        });

        const marker = new google.maps.Marker({
            position: dyfiWildlifeCentre,
            map: map,
            title: 'Dyfi Wildlife Centre'
        });
        marker.addListener('click', function() {
            infoWindow.open(map, marker);
        });

        const springGeneratedMarker = new google.maps.Marker({
            position: {lat: [[${marker_test_lat}]], lng: [[${marker_test_long}]]},
            map: map,
            title: '[[${marker_test_name}]]'
        });


    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBORcn8smmSs49a79sVJoW5Zpk-p4HxfQg&callback=initMap"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>