<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<div class="fluid raised segment" th:fragment="topMenu">
    <div class="ui text menu">
        <div class="header item">Dyfi Wildlife Centre</div>
        <a class="active item" href="/">
            Home
        </a>
        <a class="item" href="/about">
            About
        </a>
        <a class="item" href="/admin">
            Admin panel
        </a>
    </div>
</div>
</body>

</html>